@font-face {
  font-family: "generalsansmedium";
  src: url("../fonts/GENERALSANS-MEDIUM.OTF");
}

@font-face {
  font-family: "poppinslight";
  src: url("../fonts/Poppins-Light.ttf");
}


body {
  background-color: #FBF8F3;
}



#navbar {
  font-family: "generalsansmedium";
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  max-width: 1290px;
  margin: 0 auto;
  padding: 64px 0;
  color: #222221;
}

#navbar a {
  color: #222221;
  transition: all 0.3s ease-in-out;
}


#navbar a:hover {
  color: rgb(255, 132, 102);
}

nav {
  display: flex;
  gap: 48px;
}

.abovethefold {
  width: 40vw;
  color: #222221;
  text-align: left;
  margin: 40px 110px;
  justify-content: center;
}

h1 {
  font-size: 56px;
  margin: 64px auto 32px auto;
  font-family: "generalsansmedium";
  line-height: 130%;
}

h2 {
  font-size: 1.5vw;
  font-family: "poppinslight";
  line-height: 30px;
  margin-bottom: 48px;
}
.boton-1{
  color: #FBF8F3;
  background-color: #FF8466;
  font-size: 20px;
  padding: 16px 48px;
  border-radius: 8px;
  font-family: "generalsansmedium";
  transition: all 0.3s ease-in-out;
}

.boton-1:hover {
  background-color:#fd6843;
  }

h4{
  color: #FBF8F3;
  font-family: "generalsansmedium";
  font-size: 16px;
}

#skills{
  display: flex;
  justify-content: space-between;
  padding: 24px 24px;
  background-color: #222221;
  margin-top: 150px;
  margin-bottom: 64px;
}

#ruedatexto{
  width: 200px;
  margin: auto 800px;
  margin-top: -600px;
}

#imagen1{
  width: 50vw;
  margin: 80px 200px 80px 200px;
}
